# Frontend Environment Variables

# Deployed Backend Link (Render)
VITE_SERVER_URL=https://ai-voice-assistant-pu5k.onrender.com

# Deployed Frontend Link (Vercel)
VITE_CLIENT_URL=https://ai-voice-assistant-weld.vercel.app

# Firebase & Razorpay
VITE_FIREBASE_API_KEY=AIzaSyCAzG3_Ddg_EY1CpROmzHbRnPZiOGTOaBo
VITE_RAZORPAY_KEY_ID=rzp_test_T1JIblypil4xrF
