# Backend Environment Variables
PORT=8000
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ShifraAI
JWT_SECRET=your_jwt_secret_key_here
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Deployed Frontend Link (Vercel)
CLIENT_URL=https://ai-voice-assistant-weld.vercel.app
NODE_ENV=production
